{% extends "base.html" %}

{%block title%}Коротка інформація{% endblock %}
{%block info%}
<style type="text/css">
  body{
    background-image: url('../static/fon.png');
  }
</style>
<img src="static/abouting.png">
<div class="info_about_me">
  Мене звати Лапко Мар'ян.<br>
  {% if month==8 and day==20 %}
  Мені сьогодні виповнилося {{age}} років.<br>
  {% else %}
  Мені {{age}}.<br>
  {% endif %}
  І я створив цю сторінку, щоб коротко розказати про себе.<br>
  Народився в смт.Богородчани 20.08.2002р.<br>
  Навчався у Богородчанській ЗОШ№2.<br>
  Після закінчення школи вступив до Прикарпатського національного університету імені Василя Стефаника, в якому навчаюся і зараз.<br>
  Спеціальність: інженерія програмного забезпечення.<br>
  Курс: 3.
  Група: ІПЗ-31<br>
</div>
{% endblock %}

